<hibernate-configuration>
    <session-factory>


        <property name="connection.driver_class">org.hsqldb.jdbcDriver</property>
        <property name="conneciton_url">jdbc:hsqldb:file:./data/treehouse</property>
        <property name="dialect">org.hibernate.dialect.HSQLDialect</property>

    </session-factory>

</hibernate-configuration>